* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

h1:hover + .forhide p {
  display: block;
}

.parent {
  display: flex;
  flex-wrap: wrap;


  width: 700px;
  height: 700px;

  font-size: 0px;

  outline: 1px dashed green;
}

.parent > .child:nth-child(3n) {
  background-color: red;
}

.child-wrap {
 display: flex;
 flex-direction: column;
}

.child {
  width: 200px;
  height: 200px;
  margin: 5px;

  color: white;
  font-size: 50px;

  border: 2px solid black;
  background: gray url("icon-fb.svg") no-repeat;
  background-position: bottom right;
}

.child-big {
  width: 410px;
  height: 410px;
  margin: 5px;


  color: white;
  font-size: 50px;

  border: 2px solid black;
  background: gray url("icon-fb.svg") no-repeat;
  background-position: bottom right;
}

form {
  width: 200px;
  background-color: aqua;
  margin: 5px;
  padding: 10px;
  border: 1px solid blue;
}

label,
textarea {
  display: block;
  margin-bottom: 5px;
}

.modal {
  display: block;
  position: absolute;
  left: 1000px;
  top: 500px;
  transition: all 2s;
  opacity: 0.1;
  transform: rotate(-980deg);
}

.modal-show {
  display: block;
  left: 0;
  top: 500px;
  opacity: 1;
  transform: rotate(0deg);
}
